
/************* TESTING **************/

div {
    border: 1px dotted;
}







/************* TESTING **************/



body {
    padding: 0;
    margin: 0;
}

.header {
    height: 80px;
    background-color: transparent;
    -webkit-transition: opacity 2s, height 1s;
    transition: opacity 2s, height 1s;
}

.header header nav {
    line-height: 80px;
    text-align: center;
}

header nav a:first-child {
    float: left;
}

header nav a:nth-child(3), header nav a:nth-child(4) {
    float: right;
}

.header header nav a img {
    height: 40px;
    width: 140px
}



.header nav a input {
    height: 60px;
    width: 60vw;
    margin-top: 10px;
    text-align: center;
    font-size: 3em;
    outline: none;
    display: none;
    -webkit-transition: visibility 2s;
    transition: visibility 2s;
}

.header nav a button {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    margin-top: 10px;
    font-size: 3em;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    outline: none;
    display: none;

}

.header form {
    text-align: center;
}

.header form select {
    width: 30%;
    font-size: 2em;
    margin-left: 10px;
    display: none;
}

.header form button {
    font-size: 1.8em;
    outline: none;
    display: none;
}


#reset-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#results-button {
    background-color: #14AEE8;
    color: white;
    border: 2px solid white;
}


.welcome-wrapper {
    height: 100vh;
    background-image: url("../images/welcome-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    padding-top: 80px;
}

.welcome-wrapper h2 {
    text-align: center;
    color: white;
    margin-top: 25vh;
}
.welcome-wrapper p:first-child {

}

.welcome-wrapper p {
    text-align: center;
    color: white;
}

#down-arrow {
    font-size: 4em;
    opacity: .1;

    -webkit-transition: font-size .5s, opacity 2s;
    transition: font-size .5s, opacity 2s;
}

#down-arrow:hover {
    font-size: 5em;
    opacity: .9;
}

#down-arrow:active {
    position: relative;
    top: 2px;
}

.idea-wrapper {
    padding-top: 105px;
    height: 100vh;
}

.idea-wrapper ul {
    text-align: center;
    list-style-type: none;
    padding: 0;

}

.idea-wrapper ul li div {
    margin: 0 auto;
    margin-bottom: 25px;
}

.list-idea-wrapper {
    width: 98%;
    height: 400px;
    background-color: beige;
}
